.jumbotron{
    background-color: #005ad4;
    color: #fafafa;
}

.personaje-card{
    flex: 1 280px;
    padding: 5px 10px;
    margin-top: 20px;
}

.personaje-card .btn-mas{
    width: 100%;
}

footer{
    background-color: #005ad4;
    color: #fafafa;
    padding: 10px 5px;
    margin-bottom: 0;
    margin-top: 15px;
}
footer a{
    color: #9ebee8;
}
footer a:hover{
    color: #fafafa;
}